{% extends 'user/base.html' %}
{% block title %} Badges {% endblock %}


{% block content %}


   <!-- partial -->
   <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">
                Badges
                <h6>On the basis of answers to your questions, you receive badges for being especially helpful.</h6>
              </h3>

              <style>
                 @font-face { font-family: Nunito; src: url('static/assets/fonts/Nunito/Nunito-Regular.ttf'); }
              </style>
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <a href="{% url 'ask_question' %}" class="btn btn-primary">Ask Question</a>

              </div>
             </div>
            </div>
          </div>
        </div>
      </div>










      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              
              <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <h4>
                          Badges Description
                        </h4>
                    </thead>
                    <tbody>
                        <tr>
                          <td>
                             &nbsp;&nbsp;&nbsp;
                              <h5>
                              <span style='font-size:25px;'>&#129351;</span>
                              Gold &nbsp; - &nbsp; 
                              Gold badges recognize important contributions from members of the community.
                               <br><br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              They are the highest in rank and awarded to those who had tried to give best possible answer.
                              <br><br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                This Bagde is awarded when the number of answers by a user is reached to 6 or more.
                              </h5>
                          </td> 
                        </tr>
                        <tr>
                          <td>
                             &nbsp;&nbsp;&nbsp;
                              <h5>
                              <span style='font-size:25px;'>&#129352;</span>
                              Silver &nbsp; - &nbsp; 
                              Silver badges are less common than bronze ones. You'll need to plan your strategy to get one of these.
                              <br><br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  This Bagde is awarded when the number of answers by a user is reached to 4 or more.
                              </h5>
                          </td> 
                        </tr>
                        <tr>
                          <td>
                             &nbsp;&nbsp;&nbsp;
                              <h5>
                              <span style='font-size:25px;'>&#129353;</span>
                              Bronze &nbsp; - &nbsp; 
                              Bronze badges encourage users to try out new features on the site. They are easy to get if you try!
                              <br><br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              This Bagde is awarded when the number of answers by a user is reached to 2 or more.
                              </h5>
                          </td> 
                        </tr>
                    </tbody>
                    
                  </table>
                  
              </div>
            </div>
          </div>
        </div>
      </div>








      

{% endblock %}