
{% extends 'user/base.html' %}
{% block title %}Quetion Details {% endblock %}
{% block content %}
{%load crispy_forms_tags %}



      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">
                    {% for q in question %}

                    {{q.title}}
                  </h3>

                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                  <a href="{% url 'answer_question' q.id %}" class="btn btn-primary">Answer Question</a>
                  <!-- <a class="badge badge-success" href="{% url 'answer_question' q.id %}"><i class="bx bx-edit-alt me-1"></i><h5> Answer question</h5></a> -->
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}








          <!-- Question Details -->
          {% for q in question%}
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
                  <div class="table-responsive">
                    <table class="table" >
                      <thead>
                        <tr>
                          <h4>{{q.description}}</h4>
                        </tr>
                      </thead>
                      <tbody>
                        {% for a in answers %}
                        <tr>
                          <td>
                            
                            <h5>Answer:</h5>
                            <h5>{{a.answer}}</h5>
                            <br>
                            
                            <!-- <h5>{{a.docUrl}}</h5> -->
                            <!-- <h5><img src="{{a.docUrl.url}}" alt=""></h5> -->

                            <br> 
                            <!-- <a  href="{% url 'update_answer' a.id %}">
                              <input  type="button" class="btn btn-outline-secondary btn-text" fdprocessedid="1jxmu" value="Edit">   
                            </a>
                          
                           
                            <a href="{% url 'delete_answer' a.id %}"> 
                              <input type="button" class="btn btn-outline-danger btn-fw" fdprocessedid="jbj2nq" value ="Delete">
                            </a> -->

                            <!-- <a href="/ask/likes/?id={{a.id}}" id="clickMe">
                                 <button class="btn" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true" onclick="likeCount({{a.id}})"></i></button> -->
                                 
                                 {% if user.is_authenticated %}
                                    <a href='/ask/likes/?id={{a.id}}'><i class="fa fa-thumbs-up" style="font-size:22px"></i></a>
                                  {% else %}
                                    <a onclick="alert('In order to like the answer, you must be logged in!')" href='http://127.0.0.1:8000/user/login/'><i class="fa fa-thumbs-up" style="font-size:20px"></i></a>
                                  {% endif %}
                                  &nbsp;
                                 {{a.likeCount}}




                                 <!-- {% if messages %}
                                      <ul class="messages">
                                          {% for message in messages %}
                                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                          {% endfor %}
                                      </ul>
                                  {% endif %} -->



                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if user.is_authenticated %}
                                    <a href='/ask/dislikes/?id={{a.id}}'><i class="fa fa-thumbs-down" style="font-size:22px"></i></a>
                                  {% else %}
                                    <a onclick="alert('In order to dislike the answer, you must be logged in!')" href='http://127.0.0.1:8000/user/login/'><i class="fa fa-thumbs-down" style="font-size:22px"></i></a>
                                  {% endif %}
                                  &nbsp;
                                 {{a.dislikeCount}}




                          </td>
                        </tr>
                       <tr>
                        
                       </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
         


       











        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
   
  

{% endblock %}
