{% extends 'user/base.html' %}
{% block title %} Tags {% endblock %}


{% block content %}


   <!-- partial -->
   <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">
                Technology Labels
                <br>
                <h6>
                    A label is a keyword that categorizes your question with other, similar questions.
                     Using the right tags makes it easier for others to find and answer your question.

                </h6>
              </h3>

              <style>
                 @font-face { font-family: Nunito; src: url('static/assets/fonts/Nunito/Nunito-Regular.ttf'); }
              </style>
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <div class="input-group">
                  <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                    <span class="input-group-text" id="search">
                      <i class="icon-search"></i>
                    </span>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp; 
                  <form method="get" id="myForm">
                    <input style="border: none; height: 45px;" type="text" name="search-area" value="{{search_input}}" placeholder="Search Tag">
                  </form>
                  <script>
                    const form = document.getElementById('myForm');
                    const input = form.querySelector('input[name="search"]');
                  
                    input.addEventListener('keydown', (event) => {
                      if (event.key === 'Enter') {
                        event.preventDefault();
                        form.submit();
                      }
                    });
                  </script>
                  
                </div>

              <!-- <a href="{% url 'ask_question' %}" class="btn btn-primary">Ask Question</a> -->

              </div>
             </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
      {% for i in tags %}

        <div class="col-md-3 mb-4 stretch-card">

          <div class="card">

            <div class="card-body">

              <h4 style="font-style: italic;"> {{i.labeltitle}}</h4>
              <p>{{i.label}}</p>

              <!-- <p>Python is a multi-paradigm, dynamically typed, multi-purpose programming language. It is designed to be quick to learn, understand, and use, and enforces a clean and uniform syntax.</p> -->
            </div>

          </div>

        </div>
        {% endfor %}

      </div>
    </div>
  </div>
   



      

{% endblock %}