{% extends './base.html' %}
{% block title %} User Page {% endblock %}


{% block content %}

{%load crispy_forms_tags %}

   <!-- partial -->
   <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h2 class="font-weight-bold" style="color: rgb(25, 25, 120);">Customize your profile</h2>

              <style>
                 @font-face { font-family: Nunito; src: url('static/assets/fonts/Nunito/Nunito-Regular.ttf'); }
              </style>
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">

              </div>
             </div>
            </div>
          </div>
        </div>
      </div>






    <div class="row">
      <div class="container">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            {% if user.profilepic %}
                              <img style="height: 200px; width: 200px;" src="{{user.profilepic.url}}" alt="Maxwell Admin">
                            {% else %}
                              <img style="height: 200px; width: 200px;" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            {% endif %}
                          </div>
                        <br>
                        <h5 class="user-name">
                          <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                          {{user.get_username}}
                        </h5>
                        <h6 class="user-email">{{user.email}}</h6>
                    </div>
                    <br>
                    <h5>Badges</h5>
                    {% for badge in badges %}
                    <p class="text-warning">
                        <a href="{% url 'badges_list' %}" style="color: #FFC100;">
                        {{ badge.badgetitle }}
                        </a>
                      </p>
                    {% empty %}
                      <p>No badges earned yet.</p>
                    {% endfor %}
                    <br>
                    <div class="about">
                        <h5>About</h5>
                        <p>{{user.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <h4 class="d-flex align-items-center mb-3" style="color: #4B49AC;">
                    Edit your profile
                </h4>
                
                <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="form-group">
                            <!-- <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Enter full name"> -->
                            {{form.username | as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <!-- <label for="eMail">Email</label>
                            <input type="email" class="form-control" id="eMail" placeholder="Enter email ID"> -->
                            {{form.first_name | as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <!-- <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder="Enter phone number"> -->
                            {{form.last_name | as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <!-- <label for="website">Website URL</label>
                            <input type="url" class="form-control" id="website" placeholder="Website url"> -->
                            {{form.email | as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <!-- <label for="website">Website URL</label>
                            <input type="url" class="form-control" id="website" placeholder="Website url"> -->
                            {{form.gender | as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <!-- <label for="website">Website URL</label>
                            <input type="url" class="form-control" id="website" placeholder="Website url"> -->
                            {{form.qualification | as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <!-- <label for="website">Website URL</label>
                            <input type="url" class="form-control" id="website" placeholder="Website url"> -->
                            {{form.bio | as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                       
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="website">Profile Picture</label>
                            <br>
                            {{form.profilepic}}
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <input type="submit" class="btn btn-info " value="Submit">
                  </div>
                </div>
            </form>
              </div>
            </div>
        </div>

        </div>
        </div>
    </div>
      
 

    
     

{% endblock %}