{% extends './base.html' %}
{% block title %} User Page {% endblock %}


{% block content %}

{%load crispy_forms_tags %}

   <!-- partial -->
   <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h2 class="font-weight-bold" style="color: rgb(25, 25, 120);">Welcome, {{user.get_username}}.</h2>

              <style>
                 @font-face { font-family: Nunito; src: url('static/assets/fonts/Nunito/Nunito-Regular.ttf'); }
              </style>
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <a class="btn btn-info " href="{% url 'user_update' user.id %}">Edit Profile</a>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>






    <div class="row">
      <div class="container">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                          {% if user.profilepic %}
                            <img style="height: 200px; width: 200px;" src="{{user.profilepic.url}}" alt="Maxwell Admin">
                          {% else %}
                            <img style="height: 200px; width: 200px;" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                          {% endif %}
                        </div>
                        <br>
                        <h5 class="user-name">
                          <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                          {{user.get_username}}
                        </h5>
                        <h6 class="user-email">{{user.email}}</h6>
                    </div>
                    <br>
                    <h5>Badges</h5>
                    {% for badge in badges %}
                      <p class="text-warning">
                        <a href="{% url 'badges_list' %}" style="color: #FFC100;">
                        {{ badge.badgetitle }}
                        </a>
                      </p>
                    {% empty %}
                      <p>No badges earned yet.</p>
                      
                    {% endfor %}
                    <br>
                    <div class="about">
                        <h5>About</h5>
                        <p>{{user.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <h3 class="d-flex align-items-center mb-3" style="color: #4B49AC;">
                    Personal Details
                </h3>
                <br>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">User Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.username}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">First Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.first_name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Last Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.last_name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Gender</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.gender}}
                  </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Qualification</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.qualification}}
                    </div>
                  </div>
                  <hr>
                  
                    
                <div class="row">
                  <div class="col-sm-12">
                    
                    <!-- &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
                    &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14; -->
                  </div>
                </div>
                <br>
                &emsp13;
                <h3 class="d-flex align-items-center mb-3" style="color: #4B49AC;">
                  Question-Answers
              </h3>
              <br>
                <h4>Questions : {{ asked_questions }}</h4>
                <hr>
                      {% for question in user_questions %}
                          <div>
                            {{ forloop.counter }}) {{ question.title }} :- 
                            <div class="col-sm-9 text-secondary">
                            {{question.description}}
                            
                            </div>
                            <br>
                            <a  href="{% url 'update_question' question.id %}">
                            <button style="width: 80px;" type="button" class="btn btn-outline-secondary btn-sm" fdprocessedid="bscfc2">Edit</button>
                            </a>

                            <a href="{% url 'delete_question' question.id %}"> 
                            <button style="width: 80px;" type="button" class="btn btn-outline-danger btn-sm" fdprocessedid="bscfc2">Delete</button>
                            </a>
                            <hr>
                          </div>
                      {% endfor %}
                  <br>
                <h4>Answers : {{ answered_user }}</h4>
                <hr>
                      {% for answer in user_answers %}
                      <div class="col-sm-9 text">
                        {{ forloop.counter }}) {{ answer.answer }}
                        <br><br>
                        <a  href="{% url 'update_answer' answer.id %}">
                          <button style="width: 80px;" type="button" class="btn btn-outline-secondary btn-sm" fdprocessedid="bscfc2">Edit</button>
                        </a>
                          
                           
                        <a href="{% url 'delete_answer' answer.id %}"> 
                          <button style="width: 80px;" type="button" class="btn btn-outline-danger btn-sm" fdprocessedid="bscfc2">Delete</button>
                        </a>
                      </div>
                      <hr>
                      {% endfor %}
              </div>
            </div>
        </div>

        </div>
        </div>
    </div>
      
 

    
     

{% endblock %}