{% extends './base.html' %}


{% block content %}


      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h2 class="font-weight-bold">All Questions</h2>

                  <style>
                     @font-face { font-family: Nunito; src: url('static/assets/fonts/Nunito/Nunito-Regular.ttf'); }
                  </style>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <!-- <div id="search-add-wrapper">
                    <form method="get" style="margin-top: 20px; display: flex;">
                      <input type="text" name="search-area" value="{{search_input}}" placeholder="Search Question">
                      <input type="submit" class="button" value="Search">
                    </form>
                  </div> -->
                  <!-- <input type="text" id="myInput" onkeyup="searchFromProject()" placeholder="Search for names.." title="Type in a name" /> -->
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                  <a href="{% url 'ask_question' %}" class="btn btn-primary">Ask Question</a>

                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
         
          





          


          <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                
                <div class="table-responsive ">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Question-title
                          <a href="?sort_by=title&amp;direction=desc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                            </svg>
                          </a>

                          <a href="?sort_by=title&amp;direction=asc">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                          </a>
                        </th>
                        
                        <th>Description</th>
                        <th>Actions</th> 
                        <!-- <th>Status</th> -->
                      </tr>
                    </thead>
                    <tbody >
                      {% for question in questions %}
                      <tr>
                        <td>
                      <i class="fab fa-angular fa-lg text-danger me-3"></i>

                          {{question.title}}
                        </td>
                        <td>
                          
                          <a href="{% url 'detail_question' question.id %}">{{question.description}}</a>
                          
                        </td>
                        
                        <td>
                          <a class="badge badge-success" href="{% url 'answer_question' question.id %}"><i class="bx bx-edit-alt me-1"></i> Answer question</a>
                          <!-- <a class="badge badge-link" href="{% url 'detail_question' question.id %}"><i class="btn btn-link"></i> Details</a> -->
                     
                        </td>
                        <!-- <td>
                          {% if question.status == 0 %}
                          Active
                          {% else %} Not Active
                          {% endif %}
                      </td> -->
                      </tr>
                     
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>












        <!-- content-wrapper ends -->
        
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->




{% endblock %}